# FastAPI Framework
fastapi==0.104.1
uvicorn[standard]==0.24.0
fastapi-mail

# Database
psycopg2-binary==2.9.9
SQLAlchemy==2.0.23
alembic==1.12.1

# Validation
pydantic==2.5.0
pydantic-settings==2.1.0

# Environment
python-dotenv==1.0.0

# CORS
python-multipart==0.0.6

# Authentication (optional)
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Utilities
requests==2.31.0
httpx==0.25.1

# AI and machine learning
tf-keras
numpy
opencv-python-headless
deepface

#QR codes
qrcode


# Testing
pytest==7.4.0
