/* Add Employee Page Styles */

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  padding: 10px;
  width: 100%;
  max-width: 600px;
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.form {
  max-width: 600px;
}

.submitButton {
  display: block;
  margin: 0px -5px 0;
  max-width: 120px;
}
