/* Layout Main Styles */

.layout {
  width: 100%;
  height: 100%;
}

.header {
  padding: 0;
}

.toggleButton {
  font-size: 16px;
  width: 64px;
  height: 64px;
}

.content {
  padding: 24px;
  margin: 24px;
  min-height: 150px;
}
