name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    quality-check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.9'
                cache: 'pip'
                cache-dependency-path: '**/requirements.txt'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install pre-commit flake8 mypy pytest

            - name: run pre-commit hooks
              run: pre-commit run --all-files


